.app-header {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

/* Ensure icons don't disappear on small screens */
.poll-icon {
    vertical-align: middle;
}